<%= render "home/navigation" %>
<div class="p-5 bg-[#f9f9fe]" ></div>
<section class="bg-[#f9f9fe]">
    <div class="flex flex-row flex-wrap justify-start content-start item-start px-10">
        <div class="w-3/4 px-16">
            <div class="mb-10 shadow-md bg-white hover:shadow-lg dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 relative rounded-lg">
               
                <div class="flex flex-col flex-wrap justify-center content-center item-center">
                    <!-- image section --> 
                    <div class="">
                        <img src="<%= @blog&.rich_text_description&.embeds&.first&.url %>" />
                    </div>
                    <!--title-->
                    <div class="flex flex-col justify-center content-center item-center px-16 pb-6">
                            
                            <div class="pt-10 pb-6 text-center">
                                <span class="text-4xl font-semibold text-[#4b4870]"><%= @blog.title %></span>
                            </div>

                            <div class="flex flex-row flex-wrap justify-center content-center item-center">
                            <div class="pr-3 flex flex-col flex-wrap content-center justify-center">
                                <div>
                                  <span class="text-md font-semibold text-[#4b4870]"><%= @blog.created_at.strftime("%d %b %Y")%></span>
                                </div>
                            </div>
                            <div class="px-3 flex flex-row flex-wrap justify-left content-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline stroke-2 stroke-[#f0555f]">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22    1.668.337 2.555.337z" />
                            <span class="float text-[#5e6676] ml-2 text-xl leading-4 font-semibold text-[#4b4870]"><sub><%= @blog.comments.count%></sub></span>
                            </svg>
                        
                            </div>
                            <div class="px-2 flex flex-row flex-wrap justify-left content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline stroke-2 stroke-[#f0555f] ">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z" />
                                    <span class="text-[#5e6676] ml-2 text-xl leading-4 text-xl font-semibold text-[#4b4870]"><sub><%= @blog.likes.count %></sub></span>
                                </svg>
                            </div>
                            <div class="px-2 flex flex-row flex-wrap justify-left content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline stroke-2 stroke-[#f0555f]">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                     <span class="text-[#5e6676] ml-2 text-xl leading-4 font-semibold text-[#4b4870]"><sub><%=@blog.visit_count %></sub></span>
                                </svg>
                            </div>
                        </div>
            </div>  
                    <!--description-->
                    <div class="px-16 pb-10 ">
                        <span class="text-base text-[#5e6676] text-lg font-medium antialiased"><%= @blog.description.to_s %></span>
                    </div> 
                    <div class="px-16 pb-10 ">
                         <div class="flex flex-row flex-wrap justify-center content-center item-center">
                        <% @blog.tags.each do |g| %>
                            <div class=" bg-white py-1 px-5 mr-4 rounded-full border border-[#f0555f] border-l-4 border-solid border-y-zinc-200 border-r-zinc-200">
                                <span class="text-[#4b4870]"><%= g.name.capitalize %></span>   
                            </div>
                        <% end %>
                    </div>
                    </div>
                    <%if current_user != nil%>
                    <div class="px-16 pb-10">
                         <div class="flex flex-row flex-wrap justify-center content-center item-center">
                            <div class="py-2 px-5 mr-2">
                            <% if @likes == nil%>
                                <%= render partial:  "likes/like" , locals: {like: Like.new} %>
                            <% else%>
                            <%= turbo_stream_from "unlike" %>
                            <%= render partial:  "likes/unlike" , locals: {unlike: Like.new} %>
                            <%end%>
                            </div>
                        </div>
                    </div>
                    <%end%>

            </div>  
         </div>
          <div class="p-10 mb-10 shadow-md bg-white hover:shadow-lg dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 relative rounded-lg">
                <div class="flex flex-col flex-wrap justify-center content-center item-center">
                      
                    <div class="flex flex-row justify-center ">
                         <%if @blog.user.image.attached?%>
                        <div class="object-cover">
                        <%=image_tag @blog.user.image.variant(resize: "150x150") ,class:"rounded-lg"%>
                       </div>
                        <%else%>
                        <div>
                        <%=image_tag "user_default.png",class:"rounded-full h-24 w-24"%>
                        </div>
                        <%end%>
                    </div>
                    <div class="text-center p-3">
                        <span class="text-2xl text-[#5e6676]"><%=@blog.user.name.capitalize%></span>
                    </div>  
                    <div class="px-10 text-center leading-7">
                    <%if @blog.user.about != nil%>
                        <span class=" text-[#5e6676] text-base font-medium antialiased text-center"><%=@blog.user.about.capitalize%></span>
                    <%else%>
                        <span class=" text-[#5e6676] text-base font-medium antialiased text-center"></span>
                    <%end%>
                    </div>
                    <div class="flex flex-row justify-center content-center item-center pt-6">
                        <div class="mr-3">
                            <svg class="h-6 w-6 text-[#4267B2] cursor-pointer"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" /></svg>
                        </div>
                        <div class="mr-3">
                            <svg class="h-6 w-6 text-red-600 cursor-pointer"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" /></svg>
                        </div>
                        <div class="mr-3">
                            <svg class="h-6 w-6 text-[#1DA1F2] cursor-pointer"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z" /></svg>
                        </div>
                </div>
                             
            </div>  
         </div>
            <div class="p-10 mb-10 shadow-md bg-white hover:shadow-lg dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 relative rounded-lg">
                <div class="flex flex-col flex-wrap justify-center content-center item-center">
                    <div class="text-center">
                        <span class="text-4xl font-semibold text-[#4b4870]">Comments</span>
                    </div>
                    <div class="pt-5 w-full">
                        <%if current_user != nil%>
                        <div class="">
                         <%= render partial: "comments/form", locals: { comment: Comment.new } %>
                        </div>
                         <%= turbo_stream_from @blog, :comments %>
                         <div id="<%= "#{dom_id(@blog)}_comments" %>">             
                        </div>
                        <%end%>


                <!--master commnent section-->
                    <%@comments.each do |comment|%>
                        <div class="p-10 w-full flex flex-col justify-start content-start item-start border-b-2 border-solid border-gray">
                            <div class="flex flex-row flex-wrap justify-start content-start">
                            <%if comment.user.image.attached?%>
                        <div class="object-cover h-14 w-14">
                        <%=image_tag comment.user.image.variant(resize: "100x100") ,class:"w-14 h-14 rounded-full"%>
                       </div>
                        <%else%>
                        <div>
                        <%=image_tag "user_default.png",class:"rounded-full h-14 w-14"%>
                        </div>
                        <%end%>
                            <div class="flex flex-col justify-start content-center px-6">
                            <div>
                                <span class="text-xl text-[#5e6676]"><%= comment.user.name.capitalize %></span>
                                <%if current_user != nil%>
                                <%if current_user.id == comment.user.id%>
                                <span class="px-2"><%=link_to "Delete" ,delete_comment_path(comment_id: comment.id,blog_id: comment.blog_id),class:"text-[#f0555f] text-sm"%></span>
                                <%end%>
                                <%end%>
                            </div>
                            <div>
                                <span class="text-xs font-semibold text-[#D3D3D3] "><%= distance_of_time_in_words(comment.created_at, 76.seconds.from_now) %></span>
                            </div>
      
                            </div>
                        </div>
                        <div class="px-20 py-4">
                            <span class="text-[#5e6676] text-base font-medium antialiased "><%= comment.body %></span>
                        </div>
                        <div class="py-5 px-20">
                            <span class="text-[#4b4870]"><%=link_to "Reply" ,reply_path(comment_id: comment.id ,blog_id: comment.blog_id),class:""%> - <%= comment.reply.count%> </span>
                        <%if current_user != nil%>
                            <%if current_user.id == comment.user.id%>
                            <span class="text-[#d3d3d3]"> | <%=link_to "Edit",update_path(comment_id: comment.id,blog_id: comment.blog_id)%></span>
                            <%end%>
                        </div>
                        <%end%>
                    

                    </div>
                <%end%>

                    </div>               
                </div>  
            </div>
        </div>

    <!-- quicklinks -->
        <%= render "home/quicklinks" %> 
    </div>
</section>
<%= render "home/footer" %>
<script>

/* like */
  $(document).ready(function(){
    $(".like").click(function(){
      $(".like").hide();
      $(".unlike").show();
    });
  });
/* unlike to like */
  $(document).ready(function(){
    $(".unlike").click(function(){
      $(".unlike").hide();
      $(".like").show();
    });
  });

</script>