<%=render "home/navigation" %>
<!--This is the error Message section -->
<%= render "devise/shared/error_messages"%>


<div class="flex flex-row justify-start bg-[#f9f9fe]"> 
 <div class="image w-7/12">
  <%= image_tag "image4.jpg", class:"bg-white h-full object-fit rounded-r-full" %>
 </div>
<main class="flex flex-col items-center content-center justify-center w-6/12 ">
      
<div class=" flex items-center justify-center py-10 px-4 sm:px-6 lg:px-8 w-full ">
  <div class="max-w-md w-full space-y-8 px-8">
    <div>
     <h2 class="mt-6 text-center text-3xl tracking-tight font-bold text-[#4b4870]">Sign up</h2>
    </div>
    
    <%= form_for(resource, as: resource_name, url: user_registration_path, class:"mt-8 space-y-6") do |f| %>
 
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "appearance-none relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-[#4b4870] focus:border-[#4b4870] focus:z-10 sm:text-sm" ,placeholder:"Email address" ,:required => true%>
        </div>
          <div>
          <label for="fullname" class="sr-only">Fullname</label>
           <%= f.text_field :name, autofocus: true, autocomplete: "name",class: "appearance-none relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-[#4b4870] focus:border-[#4b4870] focus:z-10 sm:text-sm my-3" ,placeholder:"Fullname" ,:required => true%>
         </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <%= f.password_field :password, autocomplete: "new-password",class:"current-password", class:"appearance-none relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-[#4b4870] focus:border-[#4b4870] focus:z-10 sm:text-sm my-3",
              placeholder:"Password" ,:required => true %>
        </div>
         <div>
          <label for="password" class="sr-only">Password</label>
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"appearance-none relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-[#4b4870] focus:border-[#4b4870] focus:z-10 sm:text-sm my-3",placeholder:"Confirm Password" ,:required => true%>
          </div>
      </div>

      <div class="flex items-center flex-col justify-between my-5">
       
      </div>

      <div>
          <%= f.submit "Sign up" ,class:"group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-[#4b4870] hover:bg-[#4b4872] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>

      <div class="flex item-center flex-col justify-center">
          <div class="pt-5 text-gray-900">
            <p>Already have an account? <span class="text-[#4b4870]">
            <%= render "devise/shared/links" %></span></p>
          </div>
      </div>
      <%end%>
  </div>
</div>

</main>

</div>

<%=render "home/footer" %>