<% if current_user != nil %>
<%= turbo_frame_tag "comment_form" do %>
  <%= form_with model: comment, url: blog_comments_path(@blog) do |form| %>
    
    <% if params[:comment_id] != nil %>
          <% @comment_id = params[:comment_id] %> 
    <% end %>
 
    <% if comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
          <% comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.text_field :body ,class:"block p-4 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>
    <%= form.hidden_field :user_id , value: current_user.id %> 
    <%= form.hidden_field :comment_id , value: @comment_id %> 
    <%= form.submit class:"text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 mt-3 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"%>
  <% end %>
<% end %>
<%end %>