<%= render "home/navigation" %>
 
<section class="bg-[#f9f9fe] pt-10">
    <div class="flex flex-row flex-wrap justify-start content-start item-start px-10">
        <div class="w-3/4 px-16">
            <div class="mb-10 p-10 shadow-md bg-white hover:shadow-lg dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 relative rounded-lg">
                <div class="flex flex-col flex-wrap justify-center content-center item-center">
                    <div class="pt-5 w-full">
                         <div class="">
                         <%= render partial: "comments/form", locals: { comment: Comment.new } %>
                        </div>
                            <%= turbo_stream_from @blog, :comments %>
                                <div id="<%= "#{dom_id(@blog)}_comments" %>">
                                </div>
                            <% @comment.each do | comment | %>
                                <%= render comment.comment %>
                            <% end %>
                    </div>  
                </div>  
            </div>
          
        </div>

    <!-- quicklinks -->
        <%= render "home/quicklinks" %> 
    </div>
</section>
<%= render "home/footer" %>
