<%= render "home/navigation" %>
 
<section class="bg-[#f9f9fe] pt-10">
    <div class="flex flex-row flex-wrap justify-start content-start item-start px-10">
        <div class="w-3/4 px-16">
            <div class=" bg-white mb-10 p-10 shadow-md hover:shadow-lg dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 relative rounded-lg">
                <div class="flex flex-col flex-wrap justify-center content-center item-center">
                    <div class="pt-5 w-full">
                        <div class="text-center">
                            <span class="text-4xl font-semibold text-[#4b4870]">Comment Replies</span>
                        </div>
                        <div class="">
                        <div class="py-10 px-5 w-full flex flex-col justify-start content-start item-start">
                            <div class="flex flex-row flex-wrap justify-start content-start">
                            <%if @master_comment.user.image.attached?%>
                        <div class="object-cover h-14 w-14">
                        <%=image_tag @master_comment.user.image.variant(resize: "100x100") ,class:"w-14 h-14 rounded-full"%>
                       </div>
                        <%else%>
                        <div>
                        <%=image_tag "user_default.png",class:"rounded-full h-14 w-14"%>
                        </div>
                        <%end%>
                            <div class="flex flex-col justify-start content-center px-6">
                                <div>
                                    <span class="text-xl text-[#5e6676]"><%= @master_comment.user.name.capitalize %></span>
                                </div>
                                <div>
                                    <span class="text-xs font-semibold text-[#D3D3D3] "><%= distance_of_time_in_words(@master_comment.created_at, 76.seconds.from_now) %></span>
                                </div>
                            </div>
                        </div>
                        <div class="px-20 py-3">
                            <span class="text-[#5e6676] text-base font-medium antialiased "><%= @master_comment.body %></span>
                        </div>
                    </div>
                        </div>
                            <%if current_user != nil%>
                         <div class="px-5 mb-5">
                         <%= render partial: "comments/form", locals: { comment: Comment.new } %>
                        </div>
                            <%= turbo_stream_from @blog, :comments %>
                                <div id="<%= "#{dom_id(@blog)}_comments" %>">
                                </div>
                            <%end%>

                            <!--nested comment section-->
                        <%@comment.each do |comment|%>
                        <div class="py-5 px-5 w-full flex flex-col justify-start content-start item-start">
                            <div class="flex flex-row flex-wrap justify-start content-start ">
                            <%if comment.comment.user.image.attached?%>
                        <div class="object-cover h-14 w-14">
                        <%=image_tag comment.comment.user.image.variant(resize: "100x100") ,class:"w-14 h-14 rounded-full"%>
                       </div>
                        <%else%>
                        <div>
                        <%=image_tag "user_default.png",class:"rounded-full h-14 w-14"%>
                        </div>
                        <%end%>
                            <div class="flex flex-col justify-start content-center px-6">
                            <div>
                                <span class="text-xl text-[#5e6676]"><%= comment.comment.user.name.capitalize %></span>
                                <%if current_user != nil%>
                                <%if current_user.id == comment.comment.user.id%>
                                <span class="px-2"><%=link_to "Delete",reply_delete_path(reply_id: comment.comment.id,blog_id: params[:blog_id],comment_id: params[:comment_id]) ,class:"text-[#f0555f] text-sm"%></span>
                                <%end%>
                                <%end%>
                            </div>
                            <div>
                                <span class="text-xs font-semibold text-[#D3D3D3] "><%= distance_of_time_in_words(comment.comment.created_at, 76.seconds.from_now) %></span>
                            </div>
      
                            </div>
                        </div>
                        <div class="px-20 py-4">
                            <span class="text-[#5e6676] text-base font-medium antialiased "><%= comment.comment.body %></span>
                        </div>
                        <%if current_user != nil%>
                        <%if current_user.id == comment.comment.user.id%>
                        <div class="pt-2 pb-10 px-20 border-b-2 border-solid border-gray">
                              <%if current_user.id == comment.comment.user.id%>
                            <span class="text-[#d3d3d3]"><%=link_to "Edit",update_path(comment_id: comment.comment.id,blog_id: params[:blog_id], master_id: params[:comment_id]),class:""%></span>
                            <%end%>
                        </div>
                        <%end%>
                        <%end%>
                    </div>
                <%end%>

                    </div>  
                </div>  
            </div>
          
        </div>

    <!-- quicklinks -->
        <%= render "home/quicklinks" %> 
    </div>
</section>
<%= render "home/footer" %>
